<ion-content padding class="background">

  <ion-grid>
    <!-- empty -->
    <ion-row class="ion-align-items-center">
      <ion-col 
        class="ion-align-self-center ion-padding" size="12">
        <div></div>
      </ion-col>
    </ion-row>
  
    <!-- logo -->
    <ion-row class="ion-align-items-center">
      <ion-col class="ion-align-self-center">
        <div class="ion-text-center">
          <!-- <ion-img [src]="assets/svg/logo-iochiken.svg"></ion-img> -->
          <!-- <ion-icon name="heart" src="assets/svg/logo-iochiken-white.svg"></ion-icon> -->
          <ion-icon name="heart" src="assets/svg/logo-iochiken.svg"></ion-icon>
        </div>
      </ion-col>
    </ion-row>
  
    <!-- text -->
    <ion-row class="ion-align-items-center ingresa">
      <ion-col 
        class="ion-align-self-center-">
        <div class="ion-text-center" >
          <p text-uppercase>INGRESA A IO</p>
          <p text-capitalize>Desde aquí podras disfrutar el mejor sabor de forma más rápida</p>
        </div>
      </ion-col>
    </ion-row>

    <!-- empty -->
    <ion-row class="ion-align-items-center">
      <ion-col 
        class="ion-align-self-center ion-padding" size="12">
        <div>
          <!-- <ion-button expand="block" color="danger"
            class="button-full button-solid">INICIAR SESIÓN CON CORREO</ion-button> -->
          <ion-button expand="block"  
            class="ion-color ion-color-facebook ios button button-full button-solid ion-activatable ion-focusable hydrated ion-activated">INICIAR SESIÓN CON FACEBOOK</ion-button>
        </div>
      </ion-col>
    </ion-row>

    <!-- empty -->
    <ion-row class="ion-align-items-center">
      <ion-col 
        class="ion-align-self-center ion-padding" size="12">
        <div text-capitalize class="ion-text-center">|Iniciar sesión luego|</div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
<!-- 

  ion-color ion-color-secondary ios button button-full button-solid ion-activatable ion-focusable hydrated ion-activated
 -->