<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tienda
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tienda</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- <app-explore-container name="Tienda page"></app-explore-container> -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>1 Pollo</ion-card-title>
    </ion-card-header>
    <ion-card-content>
        <ion-img src="http://lorempixel.com/400/200/food/1"></ion-img>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>1/2 Pollo</ion-card-title>
    </ion-card-header>
    <ion-card-content>
        <ion-img src="http://lorempixel.com/400/200/food/2"></ion-img>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>1/4 Pollo</ion-card-title>
    </ion-card-header>
    <ion-card-content>
        <ion-img src="http://lorempixel.com/400/200/food/3"></ion-img>
    </ion-card-content>
  </ion-card>

</ion-content>
