<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tienda
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tienda</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- <app-explore-container name="Tienda page"></app-explore-container> -->
  <ion-card *ngFor="let item of dataJson.products" (click)="goToproductDetail( item.id )">
    <ion-card-header>
      <ion-card-title class="ion-text-capitalize">{{ item.name }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
        <ion-img src="{{ item.image }}"></ion-img>
    </ion-card-content>
  </ion-card>
</ion-content>
